*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
  
  }
  
  /* div{
    background-color: black;
  } */
  
  .dateInput{
    background-color: var(--whiteColor);  
  }
  .destinationInput{
    background-color: var(--whiteColor);
  }
  .priceInput{
    background-color: var(--whiteColor);
  }
  
  
  /* Home Design */
  .home{
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
     }
     /* .homev{
       opacity: 50%;
     } */
     
     /* .overlay{
       position: absolute;
       height: 100%;
       width: 100%;
       background: rgba(47, 106, 127);
       top: 0;
       bottom: 0;
       z-index: 1;
       mix-blend-mode: hard-light;
     } */
     
     video{
       position: absolute;
       height: 100%;
       width: 100%;
       top: 0;
       bottom: 0;
       object-fit: cover;
       /* margin-top: 3.5rem; */
     }
     
     .homeContent{
       width: 100%;
       height: max-content;
       padding: 8rem 1.5rem 3rem;
       display: flex;
       row-gap: 3rem;
       flex-direction: column;
       align-items: stretch;
       justify-content: center;
       margin: auto;
       color: var(--whiteColor);
       z-index: 100;
       position: relative;
       margin-top: 5rem;
     }
     /* .homeTitle{
      color: var(--whiteColor);
     } */
     
     .textDiv{
       padding: 2rem 0;
     }
     
     .smallText{
       font-size: 13px;
       text-transform: uppercase;
     }
  
    /* Searchbox designing */
     .cardDiv{
      position: relative;
      padding: 2rem 1.5rem;
      background: var(--whiteColor);
      border-radius: 10px;
      gap: 1rem;
      width: fit-content;
      margin-top: -4rem;
      /* justify-content: center; */
      margin-left: 22rem;
      opacity: 92%;
      /* grid-template-columns: repeat(2, 1fr); */
      /* margin-left: 40rem; */
     }
     label{
      display: block;
      color: var(--textColor);
      padding-bottom: 10px;
      font-size: 13px;
      font-weight: 500;
     }
  
     .label_total{
      justify-content: space-between;
      align-items: center;
      background-color: var(--whiteColor);
     }
     .total{
      color: var(--textColor);
      font-size: 18px;
      padding-bottom: 10px;
     }
  
     .input{
      height: 40px;
      padding: 0 1rem;
      background: var(--inputColor);
      border-radius: 3rem;
     }
  
     input{
      background: none;
      border: none;
      outline: none;
      width: 100%;
      font-size: 13px;
      font-weight: 500;
     }
  
     input::placeholder{
      font-size: 13px;
     }
  
     .icon{
      font-size: 25px;
      color: var(--PrimaryColor);
      margin-left: 10px;
      margin-top: .4rem;
     }
  
     .input[type=range]{
      background: blue;
     }
  
     .searchbtn{
        position: absolute;
        background: var(--gradientColor);
        width: max-content;
        bottom: -0.7rem;
        column-gap: .8rem;
        padding: 5px 1rem;
        left: 50%;
        transform: translate(-50%);
        justify-content: center;
        border: none;
        border-radius: 3rem;
        color: var(--whiteColor);
     }
  
     .searchbtn:hover{
          background: var(--PrimaryColor);
      }
      /* .icon{
        font-size: 18px;
      } */
  
      span{
        /* font-size: 13px; */
      }
  
      @media screen and (min-width: 660px) {
        .cardDiv{
          padding: 2rem 1rem;
          grid-template-columns: repeat(3, 1fr);
        }
      }
  
      /* Service Section */
      .col{
        padding: 0.5rem;
        padding-top: 1rem;
      }
  
      /* Divider section */
     .facilities{
      padding-top: 22rem;
      margin-bottom: 0rem;
     }
     .services{
      padding-top: 5rem;
      margin-bottom: 0rem;
     }
  
     .container{
      padding-top: 5rem;
     }
     .city{
      padding-top: 5rem;
     }
  
     .cwr{
      display: flex;
      justify-content: center;
      align-items: center;
     }
     .srv{
      display: flex;
      justify-content: center;
     }

     .homebtn{
      color: orangered;
      background-color: yellow;
      width: 17vw;
      height: 9vh;
      align-items: center;
      justify-content: center;
      margin-left: 32rem;
     }
     