.signup-bg-image {
    background-image: url('https://wallpaper.dog/large/20361162.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login-bg-image {
    background-image: url('https://cdn.wallpapersafari.com/96/86/uWthXi.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}





.signup-card-position {
    padding-top: 10%;
    /* padding-left: 5%;
    padding-right: 5%; */
}

.login-card-position{
    padding-top: 170px;
}